*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-image: linear-gradient( 360deg, #3a3d40 0%,
     rgb(93, 89, 89) 100%);
}


#navbarNav ul li a:hover{
    background-color: rgb(24, 24, 21);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 100%;
    height: 100vh;
   
}
p{
    color: wheat;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: rgb(219, 208, 208);
}
h3{
    color: violet;
}
.Exp{
    padding-left: 10%;
    padding-bottom: 3%;
    font-family:'Poppins', sans-serif ;
    font-size: 50px;
    color: wheat;
}
.orange{
    color: orange;
}
h3{
    font-family: 'Poppins', sans-serif;;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.flexible-container{
    display: flex;
    padding-left: 5%;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    padding-left: 10%;
    width: 80%;
}
#new{
    padding-left: 5%;
    width: 80%;
    border-radius: 50vh;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 800;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 48%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-size: 160px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 10%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px yellowgreen;
    border-left: 10px solid;
    line-height: 1.8em;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#fullstak-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}
footer p{
    color: wheat;
    text-align: center;
    font-size: 15px;
    opacity: 80%;
}
#show-all a{
    background-color: #40474e ;
}
#show-all a:hover{
    background-color: rgb(226, 117, 67);
}
.contact-section-header h2{
    font-size: 70px;
}
.contact-section-header p{
    font-size: 20px;
    padding-bottom: 2%;
}
#contact .contact-links{
    padding-bottom: 2%;
}
#contact .contact-links a{
    font-size: 30px;
    padding:20px ;
}
#contact .contact-links a:hover{
    transform: translateX(10px);
    transform: translateY(10px);
    transition: transform 0.3s ease-out;
}
@media only screen and (max-width: 688px) {
    body {
      background-color: rgb(28, 236, 38);
    }
  }